{% extends 'account/base.html' %}
{% block css %}
<style>
  #image{
    height: 365px;
    width: 400px;
}
.card{
    width: 25rem;
    border: none;
}
.option{
   width: 115px;
}
.card-text{
      margin-top: 17px;
}
.comment{
  width: 249px;
  margin: 4px;
  border: 3px solid blue;
  border-radius: 62px;
  height: 46px;
}
.post{
  width: 389px;
  margin: 4px;
  border: 3px solid blue;
  border-radius: 62px;
  height: 46px;
}
#post{
    font-size: 25px;
    width: 82px;
    border-radius: 15px;
    margin-top: 16px;
    margin-left: 12px;
    height: 45px;
}
#active{
  list-style: none;
  float: left;
  color:black;
   margin-left: -15px;
}
#active li{
  float: left;
  margin-left: 5px;
}
#profile_pic{
    width: 52px;
    height: 48px;
}
#active li a img{
    height: 33px;
}
</style>
{% endblock %}
{% load static %} 
{% block body %}


<div class="container my-5" style="margin-left: 431px;">

<div class="card">
      <h3> Write your post....</h3>
      <input type="text" name="comment" placeholder="    Write Something ....." class="post">
      <div class="row-1" style="margin-top: 23px;">
      <ul id="active">
        <li><a href="#"><img src="{% static 'photes.png' %}">Photos/videos</a></li>
        <li><a href="#"><img src="{% static 'friends.png' %}">Tag friends</a></li>
        <li><a href="#"><img src="{% static 'feelings.png' %}">fellings..</a></li>
      </div>
      <button class="btb btn-primary" id="post">post</button>
  </div>

{% for item in allposts %}
<div class="card my-5">
  <div class="row-1"><img src="{% static 'profile.jpg' %}" id="profile_pic">
  <b class="mx-2" style="font-size: 25px">{{item.username}} </b>Update his profile picture.
</div>
<div class="row-1 my-2">
 Captions
</div>
  <img src="{% static 'profile.jpg' %}" class="card-img-top my-3" alt="..." id="image">
  <div class="card-body">
    <a href="#" class="btn btn-primary option">like</a>
    <a href="#" class="btn btn-primary option">comment</a>
    <a href="#" class="btn btn-primary option">share</a>
    <p class="card-text">Some comments.</p>
    <form method="">
      <input type="text" name="comment" placeholder="    Comment here ....." class="comment">
      <button class="btb btn-primary">Comment</button>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
{% block js %}

{% endblock %}